.App {
  text-align: center;
  background-color: #142850;
  height: 100vh;
}

.header_title {
  color: whitesmoke;
}

h3 {
  color: #e6f8f9;
  text-align: left;
}

.bal_exp {
  padding: 50;
  background-color: rgba(255, 255, 255, 0.5);
}

.bal {
  background-color: rgba(255, 255, 255, 0.4);
}

.exp {
  background-color: rgba(255, 255, 255, 0.4);
}
